<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="App_Auto">
    <test verbose="2" preserve-order="true" name="D:/java/App_Auto_Test">
        <classes>
            <class name="com.app.auto.cases.LocateElement">
            </class>
        </classes>
    </test>
</suite>